.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://unsplash.it/1200/900?random") no-repeat center center fixed;
  background-size: cover;
}

.tabs {
  margin-bottom: -1px !important;
  position: relative;
}
.tab-content {
  padding: 2rem;
}
.tab-pane {
  display: none;
}
.tab-pane.is-active {
  display: block;
  position: relative;
}
.is-active {
  display: initial;
}

.cent {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #ccc;
}

.video {
  display: block;
  margin: 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.features,
.medias {
  padding: 3rem 0;
}

.features .fa,
.features .fab {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}


.has-same-height .card {
  height: 350px;
  overflow: hidden;
}

.skills-content .media + .media {
  margin-top: .5rem;
}

.skills-content .progress {
  height: 4px !important;
}

.section-heading {
  margin-bottom: 2rem;
}

.info-tiles {
  margin: .75rem auto;
  padding: 0 .75rem;
}

.button.is-primary.is-alt {
  background: linear-gradient(to bottom, #0072ff, #00c6ff);
  font-weight: 700;
  font-size: 14px;
  height: 3rem;
  line-height: 2.8;
  margin-bottom: 1rem;
}
.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E6EAEE;
}
.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.forum-list li {
  margin-bottom: .5rem;
}


@media screen and (max-width: 1087px) {
  .navbar-menu {
    background-color: #888;
  }
}

.form-notification {
    width: 100%;
}
.form-notification .form-container {
    display: flex;
    justify-content: space-between;
}

fieldset {
    border: none;
}
.form-notification .input {
    margin-right: 20px;
}

form legend {
    position: absolute;
    left: 9999px;
}

#about {
    margin-bottom: 2rem;
}
#about i {
    margin-left: 3px
}
table caption {
    position: absolute;
    left: 99999px;
}

.hero.has-background-grey-light {
    padding: 3rem 0;

}
.forum .new-post {
    width: 100%;
}

.visuallyhidden {
    position: absolute;
    clip: rect(0,0,0,0);
    height: 1px;
    width: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
}
.visuallyhidden:focus {
    height: auto;
    width: auto;
    clip: auto;
}

.bread-crumbs li {
    color: #fff;
    display: inline-block;
}
.bread-crumbs li a {
    color: #fff;
}
.small {
    font-size: .875em;
}
.hero.is-info,
.button.is-info {
    background-color: #3273dc;
}
.hero.is-info .subtitle {
    color: #fff;
}
.hero.is-info .tabs.is-boxed li.is-active a {
    color: #3273dc;
}
.embed-container iframe {
    border: none;
}
.tabs.is-boxed a {
    margin: 1px;
    border: 2px solid transparent;
}
.tabs.is-boxed a:focus,
.tabs.is-boxed li:focus{
    outline: none;
}
.tabs.is-boxed li.is-active:focus a {
    border-color: #000 !important;
}
@media screen and (max-width: 1087px) {
    #menu {
        display: none;
    }
    #menu.is-active {
        display: block;
        position: absolute;
        background: #999;
        width: 100%;
    }
    .burger,
    .burger.is-active {
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
    }
}

.tag:not(body).is-primary {
    background-color: #006859;
}
.subtitle {
    color: #424242;
}
.tag:not(body).is-danger {
    background-color: #cc2c4c;
}
.tag:not(body).is-success {
    background-color: #157d39;
}
.has-text-grey-light {
    color: #6c6c6c !important;
}
.help.is-danger,
.control.is-danger,
.title.is-danger {
    color: #cc2c4c;
}
.help.is-success {
    color: #157d39;
}

.contact-us.button {
    margin-top: 20px;
}
.control .help {
    margin-bottom: 20px;
}
#is-success-message {
    color: #157d39;
}
#is-error-message {
    color: #cc2c4c;
}
.contact-us.button:focus,
.add-new-user:focus {
    outline: 2px solid #000 !important;
    outline-offset: 2px;
}
.d-none {
    display: none;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}





